#html {
  margin: 0;
  background-color: #f5f5f5;
}

#wrapper {
  background-color: #D00018;
  margin: 0 auto;
  height: 920px;
  width: 920px;
  border-radius: 1%
}

#reset {
  height: 60px;
  width: 60px;
  margin: 2px 0 2px 5px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  border-radius: 100%;
  border-style: ridge;
}

.box {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(20, 20, 20, 0.1);
  height: auto;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.gridcontainer {
  height: 800px;
  width: 800px;
  position: relative;
  display: grid;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
}

b {
  font-family: 'Eagle Lake', cursive;
}
